body {
    font-family: "HelveticaNeue-Thin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-weight: 300;
}

input {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.box{
  margin: 100px auto;
  width: 300px;
  height: 50px;
}

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}

search-container {
    align-items: stretch;
    -webkit-align-items: stretch;
}

.container-1 input.search-box {
  width: 250px;
  height: 48px;
  font-size: 10pt;
  line-height: 10pt;
  padding-left: 15px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: none;
  appearance: none;
  outline: none;
  border: solid 1px #777;
}

.container-1 button{
    cursor:pointer;
    line-height: 10pt;
}

.container-1 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height:50px;

  border: none;
  background: rgb(61, 149, 206);
  width: 50px;
  color: #fff;
  opacity: 1;
  font-size: 10pt;
}

.fbox {
    display: flex;
    display:-webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
}

.vbox {
    display: flex;
    display:-webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    min-height: 550px;
    height: 100vh;
    min-width: 300px;
}

.vbox > div {

}

#container {
    height: auto;
    min-height: 300px;
    margin: 2px;
    flex: 2;
    -webkit-flex: 5;
}

#container svg {
    height: 100%;
}

.fbox div {
    margin: 10px;
}

dt {
    margin: 10px;
    font-weight: 600;
}

.faq {
    width: auto;
    max-width: 650px;
    overflow: wrap;
}

.footer {
    margin-bottom: 30px;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.nodetext {
	font: 6px sans-serif;
    stroke: #BBB;
    stroke-width: 0.1px;
}

.link {
  stroke: #999;
  stroke-width: 1px;
}

.help {
    padding-top: 13px;
    font-size: 9pt;
    width: 300px;
}
